@import url(https://fonts.googleapis.com/css?family=Oswald);
#one{
  background-image: url("http://i.ytimg.com/vi/rNNXNG5LHuU/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  Color:Purple;
  font-size: 56px;
  font-family: Comic Sans MS;
}
.myButton {
	-moz-box-shadow:inset 50px 50px 50px 50px #e184f3;
	-webkit-box-shadow:inset 50px 50px 50px 50px #e184f3;
	box-shadow:inset 50px 50px 50px 50px #e184f3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c123de), color-stop(1, #a20dbd));
	background:-moz-linear-gradient(top, #c123de 5%, #a20dbd 100%);
	background:-webkit-linear-gradient(top, #c123de 5%, #a20dbd 100%);
	background:-o-linear-gradient(top, #c123de 5%, #a20dbd 100%);
	background:-ms-linear-gradient(top, #c123de 5%, #a20dbd 100%);
	background:linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c123de', endColorstr='#a20dbd',GradientType=0);
	background-color:#c123de;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:12px solid #a511c0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:32px 76px;
	text-decoration:none;
	text-shadow:23px 7px 50px #9b14b3;
  margin-top: 350px;
  margin-left: 200px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a20dbd), color-stop(1, #c123de));
	background:-moz-linear-gradient(top, #a20dbd 5%, #c123de 100%);
	background:-webkit-linear-gradient(top, #a20dbd 5%, #c123de 100%);
	background:-o-linear-gradient(top, #a20dbd 5%, #c123de 100%);
	background:-ms-linear-gradient(top, #a20dbd 5%, #c123de 100%);
	background:linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a20dbd', endColorstr='#c123de',GradientType=0);
	background-color:#a20dbd;
}
.myButton:active {
	position:relative;
	top:1px;
}
p{
  font-size:25px;
  font-family: Oswald;
}

#click {
	width: 1200px;
	height: 800px;
}

#m1 {
    background-image: url("http://orig15.deviantart.net/2b51/f/2012/187/c/9/magma_dragoon_sprite_in_16_bit_by_danmanx5792-d56a4qi.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 30px;
    display:none;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;


/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:25%; top:25%;}
    50%  {left:50%; top:50%;}
    75%  {left:75%; top:75%;}
    100% {left:100%; top:100%;}


/* Standard syntax */
@keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:25%; top:25%;}
    50%  {left:50%; top:50%;}
    75%  {left:75%; top:75%;}
    100% {left:100%; top:100%;}

}
#m2 {
    background-image: url("http://img15.deviantart.net/9242/i/2013/330/1/4/mega_man_tt_s_metren_lagann_by_justedesserts-d4h5pdc.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 30px;
    display:none;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;


/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:25%; top:25%;}
    50%  {left:50%; top:50%;}
    75%  {left:75%; top:75%;}
    100% {left:100%; top:100%;}

/* Standard syntax */
@keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:25%; top:25%;}
    50%  {left:50%; top:50%;}
    75%  {left:75%; top:75%;}
    100% {left:100%; top:100%;}

}
#m3 {
    background-image: url("http://img08.deviantart.net/57f8/i/2013/322/b/f/mega_man_tt_s_shock_man_by_justedesserts-d3rgkbr.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 30px;
    display:none;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:25%; top:25%;}
    50%  {left:50%; top:50%;}
    75%  {left:75%; top:75%;}
    100% {left:100%; top:100%;}


/* Standard syntax */
@keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:25%; top:25%;}
    50%  {left:50%; top:50%;}
    75%  {left:75%; top:75%;}
    100% {left:100%; top:100%;}
}

#m4 {
    background-image: url("http://images4.wikia.nocookie.net/__cb20100929185329/megaman/images/3/3a/MM10PunkArt.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 30px;
    display:none;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;


/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:25%; top:25%;}
    50%  {left:50%; top:50%;}
    75%  {left:75%; top:75%;}
    100% {left:100%; top:100%;}


/* Standard syntax */
@keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:25%; top:25%;}
    50%  {left:50%; top:50%;}
    75%  {left:75%; top:75%;}
    100% {left:100%; top:100%;}
}


